html{
  background-color:black;
  font-family:"Playfair Display", serif;
  font-size: 16px;
}
body{
  color:pink;
  flex-flow:column;
}
nav{
  display:flex;
  background-color:rgb(0,68,102);;
  color:lightpink;
  justify-content:space-between;
  height:auto;
  padding:1rem;
  /*width:100%;*/
  /*z-index:1;*/
}
nav .logo {
  display:flex;
  font-family:'Dancing Script', cursive, bold;
  color:lightpink;
  font-size:3rem;
  /*margin:1.5rem 0 1rem 2rem;*/
}
nav ul{
  display:flex;
  list-style-type: none;
  font-size:1.15rem;
  font-family:'Dancing Script', cursive, bold;
  margin-top:0.5rem;
}
/*margin:2rem 2rem 1rem 0;*/
nav ul li{
  margin:1rem;
  border-bottom: 2px solid rgb(162,38,173);
}
nav li a:hover{
  color:rgb(235,173,214);
}
nav li a:active{
  color:white;
}

.main-container{
display:flex;
flex-flow:column;
margin-top:1rem;
}

.main-container img{
  width:60%;
  height:675px;
  margin:2rem;
}
nav a{
 color:lightpink;
}
.about-staff-container a:link{
  color:rgb(220, 111, 184);
}
.about-staff-container a:visited{
  color:rgb(184, 46, 138);
}
.about-staff-container a:hover{
  color:rgb(235,173,214);
}
.mainimages{
  flex-flow:row;
  margin:2rem;
  align-items:center;

}
.mainimages img{
  width:25%;
  height:auto;
  transition:transform .4s;
}
.mainimages img:hover{
  transform: scale(1.5);
}
.first-row,
.second-row{
  display:flex;
  align-items: center;

}

#services{
  display:flex;
  align-items: center;
  flex-flow:column;
  padding:2rem 7rem;
  /*background-image: url("../images/packages(1).jpg");
  background-repeat:no-repeat;
  background-position: top;
  background-size: cover;
  background-attachment:fixed;*/

}

.text-container{
    background-color: rgb(0,68,102);
    width:100%;
}
.package{
  display:flex;
  align-items:center;
  flex-flow:column;
  margin:3rem;
  border:2px solid rgb(162,38,173);
  width:35%;
  align-content:center;
  justify-content: space-around;
  height:10%;
  /*border-bottom: 2px solid rgb(162,38,173);*/
}
/*.package h4{
  border-bottom: 2px solid rgb(162,38,173);
}*/
.package-container{
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
}

#events, #about-us, #contact{
  display:flex;
  align-items: center;
  margin:2rem;
  flex-flow:column;

}
#events{
  justify-content: space-around;
}
#events a{
  color:fuchsia;
  font-size:1.5rem;
}
#events span{
  color: lightcoral;
  font-size:1.5rem;
}
#events .box-one {
  background-color: white;
  padding: 1rem;
  margin:2rem;

}
#events .box-two{
  transition:transform .4s;
}
#events .box-three{
  text-align: center;

}
#events .box-three button.accordion{
  width:30%;
  font-family: "Playfair display";
}
#events .box-two:hover{
  transform: scale(1.3);
}

#events img{
  width:360px;
}
#contact{
  display:flex;
  align-items:center;
  flex-flow:column;
  margin:2rem;
  text-align:center;
}
.contact-container ul li{
/*display:flex;*/
text-decoration:none;
/*flex-flow:row;*/
font-size: 1.5rem;
padding-bottom:3rem;
}

.contact-container ul li a:hover {
  color:rgb(235,173,214);
}

.contact-container ul li a:link{
  color:rgb(220, 111, 184);
}

.contact-container ul li a:visited{
  color:rgb(184, 46, 138);
}
.about-ceceanalex-container{
  text-align:center;
  margin:2rem;
  line-height:125%;
  justify-content: center;
  display:flex;
  flex-flow:row;
  align-items:center;
  width:100%
}
.image-container img{
  height:auto;
  width:1;
  border:2px solid black;
  background-color:white;
  padding:1rem;
  max-width:360px;
}
.ceceanalex-info{
  margin:1rem;
}
.about-staff-container{
  display:flex;
  /*line-height:125%;*/
  padding-bottom:3rem;
  align-items: center;
}
.info{
  margin:1rem;
}
h1{
  font-size:5rem;
  border-bottom: 2px solid rgb(162,38,173);
}
h1, h2, h3{
  font-family:'Dancing Script', cursive, bold;
}
h2{
  font-size:3rem;
  margin-bottom:1.75rem;
}
h4{
  margin:0;
  font-size:1rem;
  font-family: 'Playfair Display', serif;
}
#services h4, #services h2, #services h1, #services h3{
  text-shadow: 1px 1px 1px #000;
}
/*.package h1,
.package h2,
.package h3
{
  background-color:rosybrown;
}*/

.accordion {
    background-color:rgb(235,173,214);
    color: black;
    cursor: pointer;
    width: 100%;
    border: none;
    outline: none;
    transition: 0.4s;
}
.accordion h3{
  font-size:1.25rem;
  margin:.5rem;
}
.active, .accordion:hover {
    background-color:rgb(230, 0, 230);
}
.panel {
    padding-top: 2rem;
    display: none;
    overflow: hidden;
    line-height:1.5rem;
}

@media only screen and (max-width:736px){
  nav{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    background-color: rgb(0,68,102);
    width:100%;
    height:auto;
    padding-top:1.5rem;
  }
  nav .logo{
    color:rgb(255, 51, 255);
    margin:0rem;
  }

  nav ul{
    color:rgb(255, 51, 255);
    margin-top: 0.5rem;
  }
  .main-container {
    margin-top: 0rem;
    width: 107%;
  }
  .mainimages{
    display:flex;
    margin:2rem;
    flex-wrap:wrap;
    justify-content: center;
  }
  .mainimages img{
    width:70%;
    height:auto;
  }
  .first-row, .second-row{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
  }
  .main-container video{
    display:none;
    width:100%;
    /*height:auto;
    margin-top:2rem;*/
  }
  .about-ceceanalex-container{
    flex-flow:column;
    border:none;
  }
  .about-staff-container{
    margin-left:2rem;
    margin-right:2rem;
    display:flex;
    flex-flow:column;
  }
  #services{
    display:flex;
    flex-flow:column;
  padding:2rem 1rem;
  /*background-image:url("../images/IMG_3527.jpg");
  background-color:none;
  background-repeat:repeat;
background-size:1000px;*/
  }
  #services .package{
    padding:2rem;
    width:auto;

  }
  .text-container{
    width:107%;
  }
  #events .box-three{
    text-align: center;

  }
  #events .box-three button.accordion{
    width:30%;
    font-family: "Playfair display";
}
