html{
  background-color:black;
  font-family:'Lora', serif;
  font-size: 16px;
}
body{
  font-family:Helvetica;
  color:pink;
}
nav{
  display:flex;
  background-color: lavender;
  color:lightpink;
  justify-content:space-between;
  height:auto;
  width:100%;
}
nav .logo {
  display:flex;
  font-family:'Dancing Script', cursive, bold;
  color:lightpink;
  font-size:3rem;
}
nav ul{
  display:flex;
  list-style-type: none;
  font-size:1.25rem;
  font-family:'Quattrocento',serif;
}
nav ul li{
  margin:1rem;
}

.main-container{
display:flex;
justify-content: center;
margin-top:1rem;
}

.main-container img{
  width:60%;
  height:675px;

}
a{
  color:lightpink;
}
